In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats  
import seaborn as sns
import scipy.stats as stats

In [5]:

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [6]:
df = pd.read_csv("ireland.csv", header=None)

In [7]:
df.head()

           0          1   2   3   4   5   6   7   8   9   10  11  12     13
0     D Toner  2015-2018  43  36   7  10   2   0   0   0  32  10   1  75.58
1  JC McGrath  2015-2018  41  29  12   5   1   0   0   0  28  12   1  69.51
2   CEJ Healy  2015-2018  37  18  19   5   1   0   0   0  30   7   0  81.08
3   GC Murray  2015-2018  37  36   1  59  10   0   3   0  24  12   1  66.21
4     RD Best  2015-2018  35  34   1   5   1   0   0   0  24  10   1  70.00

In [11]:
df.columns = ["Name", "Start-Finish Date", "Caps", "Starts","Subs", "Points", "Tries","Conversions", "Penaltys","Drop", "Win","Loss","Draw","Win%"]

In [12]:
df.head()

,Name,Start-Finish Date,Caps,Starts,Subs,Points,Tries,Conversions,Penaltys,Drop,Win,Loss,Draw,Win%
0,D Toner,2015-2018,43,36,7,10,2,0,0,0,32,10,1,75.58
1,JC McGrath,2015-2018,41,29,12,5,1,0,0,0,28,12,1,69.51
2,CEJ Healy,2015-2018,37,18,19,5,1,0,0,0,30,7,0,81.08
3,GC Murray,2015-2018,37,36,1,59,10,0,3,0,24,12,1,66.21
4,RD Best,2015-2018,35,34,1,5,1,0,0,0,24,10,1,70.00